*~
_darcs
.svn
CVS
*.swp
*.aux
*.bbl
*.out
*.exe
*.blg
*.dvi
*.log
*.ps
*.o
*.toc
*.bak
*.new
*.tmp
*.o
*.so
*.doc
rst
rst1
rub
2NG.dN
2NG.dS
2NG.t
4fold.nuc
lnf
tags
tmp
CMakeFiles
CMakeCache.txt
install_manifest.txt
*.aux
